<div class="flex flex-col gap-4 mb-6">
    <div class="flex justify-between items-center">

        <div class="flex flex-col gap-1">
            <div class="flex items-center gap-2 text-2xl font-semibold text-[#031050]" (click)="openErrorModal()">
                Power Plate
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-[#031050] ms-14" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
            </div>
            <span class="text-base font-semibold text-gray-400">Dashboard</span>
        </div>

<!-- Avatar -->
<div class="flex items-center gap-2 cursor-pointer select-none" (click)="openErrorModal()">
    <div
      class="w-10 h-10 bg-[#FF14B9] rounded-full hover:bg-[#FF14B9]/80 transition text-white flex items-center justify-center text-sm font-normal">
      HD
    </div>
    <div class="text-sm text-[#031050] leading-tight">
        <div class="font-medium">TEST</div>
        <div class="text-xs text-[#031050] font-semibold -mt-1">User</div>
      </div>
      
  </div>
  
    </div>


<!-- Container -->
<div class="flex flex-wrap items-center justify-between gap-4 w-full">

    <!--  Datepicker -->
    <div>
      <div
        class="flex items-center gap-2 bg-white rounded-lg shadow px-4 py-2 w-fit cursor-pointer select-none"
        (click)="picker.open()"
      >
        <!-- Icon calendar -->
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-[#031050]" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M8 7V3m8 4V3m-9 4h10M5 9h14M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
      </svg>
      
  
        <!-- Text -->
        <span class="text-sm text-[#031050] font-medium leading-6">
          {{ start.value?.format('MMM D, YYYY') }} – {{ end.value?.format('MMM D, YYYY') }}
        </span>
  
        <!-- Icon dropdown -->
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-[#031050] ml-auto" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
  
        <!-- Picker -->
        <mat-date-range-picker #picker></mat-date-range-picker>

      </div>
    </div>
  
    <!-- Buttons -->
    <div class="flex gap-3 flex-wrap">
      <button (click)="openErrorModal()"
        class="flex items-center leading-6 gap-2 button-gradient text-white px-4 py-2 rounded-full text-sm font-medium shadow hover:opacity-90">
        Choose Columns
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
  
      <button (click)="openErrorModal()"
        class="flex items-center gap-2 button-gradient text-white px-4 py-2 rounded-full text-sm font-medium shadow hover:opacity-90 transition">
        Message Partners
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
      </button>
  
      <button (click)="openErrorModal()"
        class="flex items-center gap-2 button-gradient text-white px-4 py-2 rounded-full text-sm font-medium shadow hover:opacity-90 transition">
        Export List
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 16v-8m0 8l-4-4m4 4l4-4M4 20h16" />
        </svg>
      </button>
    </div>
  </div>
  
  <mat-date-range-input [rangePicker]="picker" class="absolute w-0 h-0 overflow-hidden opacity-0 pointer-events-none">
    <input matStartDate [formControl]="start" />
    <input matEndDate [formControl]="end" />
  </mat-date-range-input>
  
  