@import "tailwindcss";
body {
    font-family: 'Poppins', sans-serif; 
    font-size: 14px;
    background-color: #FCFCFC;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-date-range-input-inner {
  font-size: 14px!important;
  color: #031050!important;
  line-height: 24px!important;
}